/* ---------------------------
* Colors
* ---------------------------- */
/* Gruvbox normal colors */
@define-color gbn_black   #282828;
@define-color gbn_red     #cc241d;
@define-color gbn_orange  #d65d0e;
@define-color gbn_green   #98971a;
@define-color gbn_yellow  #d79921;
@define-color gbn_blue    #458588;
@define-color gbn_purple  #b16286;
@define-color gbn_cyan    #689d6a;
@define-color gbn_white   #a89984;

/* Gruvbox bright colors */
@define-color gbb_black   #928374;
@define-color gbb_red     #fb4934;
@define-color gbb_orange  #fe8019;
@define-color gbb_green   #b8bb26;
@define-color gbb_yellow  #fabd2f;
@define-color gbb_blue    #83a598;
@define-color gbb_purple  #d3869b;
@define-color gbb_cyan    #8ec07c;
@define-color gbb_white   #ebdbb2;

/* Generic colors */
@define-color background  @gbn_black;
@define-color foreground  @gbb_white;
@define-color warning     @gbb_orange;
@define-color critical    @gbb_red;

/* ---------------------------
* Animations
* ---------------------------- */
@keyframes blink-warning {
    70% { color: @foreground; }
    to {
        color: @foreground;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% { color: @foreground; }
    to {
        color: @foreground;
        background-color: @critical;
    }
}

/* ---------------------------
* Generic configuration
* ---------------------------- */
* {
    border: none;
    border-radius: 9px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* Whole bar */
#waybar {
    background: @background;
    color: @foreground;
    border-radius: 0px;
    font-family: 'Lexend', 'Bahnschrift', 'Inter';
    font-size: 12px;
    font-weight: bold;
}

/* ---------------------------
* Modules configuration
* ---------------------------- */
/* Assign a padding for each module */
#battery,
#clock,
#cpu,
#memory,
#network,
#wireplumber,
#temperature,
#custom-weather,
#custom-gpu,
#tray,
#backlight,
#language,
#window,
#custom-powermenu,
#custom-cpugovernor {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @background;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* Workspaces */
#workspaces button {
    color: @gbb_green;
    background: none;
    font-size: 1.2em;

    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

#workspaces button.focused {
    color: @gbb_green;
}

#workspaces button.empty {
    color: @foreground;
}

#workspaces button.urgent {
    border-color: @gbb_red;
    color: @gbb_red;
}

/* Window name */
#window {
    background: @background;
    color: @foreground;
    font-weight: normal;
}

/* Bluetooth */
#bluetooth {
    background: @gbb_blue;
    color: @background;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}

/* Custom GPU */
#custom-gpu {
    background: @background;
    color: @foreground;
    font-weight: bold;
    padding: 0 0.6em;
}

/* Custom Weather */
#custom-weather {
    background: @gbb_yellow;
    color: @background;
    font-weight: bold;
    padding: 0 0.6em;
}

/* Custom power menu */
#custom-powermenu {
    background: @background;
    color: @gbn_blue;
    font-size: 2em;
    font-weight: bold;
    /* padding: 0em; */
}

/* Network */
#network {
    background: @gbn_blue;
    color: @foreground;
}

/* Memory */
#memory {
    background: @gbn_cyan;
    color: @background;
}

/* CPU */
#cpu {
    background: @gbb_cyan;
    color: @background;
}

#cpu.critical {
    color: @background;
}

#custom-cpugovernor {
    background-color: @background;
    color: @foreground;
}

#custom-cpugovernor.perf {}

/* Temperature */
#temperature {
    background-color: @gbn_cyan;
    color: @foreground;
}

#temperature.critical {
    background: @critical;
}

/* Battery */
#battery {
    background: @battery;
}

/* Backlight */
#backlight {
    background: @backlight;
}

/* Clock */
#clock {
    background: @gbb_orange;
    color: @foreground;
}

/* #clock.date {
    background: @background;
}

#clock.time {
    background: @background;
} */

/* Sound */
#wireplumber {
    background: @bg_green;
    color: @background;
}

#wireplumber.muted {
    background: @bg_green;
    color: @background;
}

#wireplumber.source-muted {
    background: @bg_green;
    color: @background;
}

/* Tray icons */
#tray {
    background: @foreground;
    color: @background;
}
